<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Altdeutschland Baden</h1>
    <h2>Jahr 1851</h2>
    <div style="display: flex;">
        {% for m in marken %}
        <figure>
            <img src = {{m['url']}}  alt="hhh" style="width: 250px; align-items: flex-end;">
            <figcaption>#{{ m['nr']}}</figcaption>
        </figure>
        {% endfor %}
    </div>


</body>
</html>


