<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Konf. Staaten</h1>
    <h2>Allgemeine Ausgaben</h2> 
    <div style="display: flex;">
        {% for marke in image_names %}
        <figure>
            <img src="{{ url_for('static', filename='images/' + marke['filename']) }}" alt="n_image" >
            <figcaption> #{{marke['MichNr'] }}</figcaption>
        </figure>
        {% endfor %}
    </div>
  
</body>
</html>